* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SERVICE-BANNER */
.service-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: #EC6F57;
    margin-bottom: 20px;
}

.service-details-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}


.service-text-container p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.service-btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    padding: 9px 15px;
    background: #EC6F57;
    border-radius: 20px;
}

.service-btn:hover {
    background: #ff3838;
}

.service-image img {
    filter: drop-shadow(2px 4px 4px #585858);
    width: 85%;
    margin: auto;
}


/* SOME-OF-OUR-WORKS */

.service-container {
    width: 80%;
    margin-top: 10px;
}

.some-works-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #EC6F57;
    margin-bottom: 70px;
}

.service-wrapper-image img {
    filter: drop-shadow(2px 4px 8px #585858);
}

.service-wrapper .col:nth-child(even) .col-md-6:nth-child(even) {
    order: 1;
}

.service-wrapper .col:nth-child(odd) .col-md-6:nth-child(odd) {
    order: 2;
}

@media screen and (max-width: 480px) {

    .service-container {
        width: 100%;
        margin-top: 10px;
    }

    .service-wrapper .col-md-6:nth-child(even) {
        order: 1;
    }

    .service-wrapper .col-md-6:nth-child(odd) {
        order: 2;
    }

    .some-works-title {
        margin-bottom: 20px;
    }

    .service-image img {
        filter: drop-shadow(2px 4px 4px #585858);
        width: 100%;
        margin: auto;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .service-container {
        width: 100%;
        margin-top: 50px;
    }

    .some-works-title {
        margin-bottom: 20px;
    }

    .service-image img {
        filter: drop-shadow(2px 4px 4px #585858);
        width: 100%;
        margin: auto;
    }

}